body {
    margin: 0;
    background-color: #242323;
}

.banniere {
    height: 150px;
    width: 100%;
    background: linear-gradient(83deg, #E5D61B,#B25018,#242323);
    margin-top: 0;
    text-align: center;
    color: white;
    padding-top: 40px;    
}

h2 {
    text-align: center;
}

.nav-link:hover {
    text-decoration: underline;
}

.rounded {
    height: 500px;
    margin-left: 15%;
    margin-top: 5%;
    padding-right: 15px;
    padding-bottom: 30px;
}

.TexteDuChat{
    margin-top: 10%;
    text-align: justify;
    margin-right: 30px;
    height: 450px;
    width: auto;
}

h3{
    text-align: center;
}

